<div class="w-100 header-fix z-index bg-gold shadow-sm">
  <div class="row bg-white" [class.fix-position]="setting.scrollDown">
    <div class="text-center col-md-9 flex-cell pt-2 pb-3">
      <div class="d-flex w-100 text-left flex-cell">
        <div class="flex-cell pc-hide">
          <!-- SPACE I-->
          <div>
            <span
              [@animate]="setting.animationFlag"
              class="bg-gold text-meduim p-2 m-3 rounded-circle icon-width"
              (click)="changeLanguage(languages[languageIndex].title)"
            >
              {{ 'titles' | translate | slice : 0 : 2 }}
            </span>
          </div>
        </div>
        <!-- SPACE II-->
        <div
          class="w-100"
          [class.animated-cross]="setting.shearchShow"
          [class.d-fixed-top]="setting.shearchShow"
          *ngIf="setting.shearchShow; else shearchHide"
        >
          <div class="mobile-width-full flex-cell search-frame">
            <div class="d-flex w-100">
              <div class="w-100">
                <pe-search
                  class="w-100"
                  (resultOutput)="resultOutput($event)"
                ></pe-search>
              </div>
              <div class="text-center flex-cell">
                <span class="p-3 close-button-top-right">
                  <img
                    src="../../../assets//img//arrow-down-icon-png-6687.png"
                    class="img-icon"
                    (click)="activeSearchFixedWidth(false)"
                  />
                </span>
              </div>
            </div>
          </div>
        </div>
        <ng-template #shearchHide>
          <div class="text-left">
            <i
              class="fa fa-search fa-2x text-danger"
              (click)="activeSearchFixedWidth(true)"
            ></i>
          </div>
          <!-- 
        <div
        class="text-sign fw-lighter text-blueblack text-large w-100 text-right"
        >
        CrownPlaza
        </div>
        -->
        </ng-template>

        <!-- SPACE III-->
        <div class="w-100" *ngIf="!userLoginInformation?.id; else elseLogin">
          <div class="d-flex w-100">
            <div class="w-100">
              <div class="child text-right w-100">
                <span
                  class="text-meduim link-dark"
                  [routerLink]="[{ outlets: { secondRouter: 'lazy/login' } }]"
                >
                  {{ 'login' | translate }}</span
                >
                <span class="text-meduim text-dark">|</span>
                <span
                  class="text-meduim link-dark"
                  [routerLink]="[{ outlets: { secondRouter: 'lazy/signup' } }]"
                >
                  {{ 'signup' | translate }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <ng-template #elseLogin>
          <div class="w-100 position-relative">
            <div class="d-flex w-100">
              <div class="text-right w-100">
                <button
                  (click)="setting.menuShow = !setting.menuShow"
                  mat-button
                  class="bg-white text-blueblack"
                >
                  <mat-icon>arrow_drop_down</mat-icon>
                  <span class="fw-bold text-meduim">
                    {{ 'hello' | translate }}
                    ! {{ userLoginInformation?.name | titlecase }}</span
                  >
                  <span *ngIf="userLoginInformation?.lname" class="m-2">{{
                    userLoginInformation?.lname
                  }}</span>
                </button>
                <div class="d-inline-block menu" *ngIf="setting.menuShow">
                  <div class="position-absolute">
                    <div class="w-100 relative">
                      <img
                        class="profile-icon"
                        [src]="
                          'https://burjcrown.com/drm/travel/users/profile/' +
                          userLoginInformation?.id +
                          '/1.jpg'
                        "
                      />
                      <div class="text-left fw-semibold banner-bottom p-2">
                        {{ userLoginInformation?.email | titlecase }}
                      </div>
                      <hr />
                    </div>

                    <p (click)="routeHome()">
                      <span>
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                      </span>
                      <span>
                        {{ 'home' | translate }}
                      </span>
                    </p>
                    <p (click)="setting.menuShow = false">
                      <span class="link-gold">
                        <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                      </span>
                      <span
                        (click)="setting.menuShow = false"
                        [routerLink]="[
                          { outlets: { secondRouter: 'lazy/setting' } }
                        ]"
                      >
                        {{ 'settings' | translate }}
                      </span>
                    </p>
                    <p (click)="savedLocations()">
                      <span>
                        <i class="fa fa-2x fa-gratipay" aria-hidden="true"></i>
                      </span>
                      <span>
                        {{ 'savelocation' | translate }}
                      </span>
                    </p>
                    <p (click)="sharedLocations()">
                      <span>
                        <i class="fa fa-2x fa-share-alt" aria-hidden="true"></i>
                      </span>
                      <span>
                        {{ 'shared' | translate }}
                      </span>
                    </p>
                    <p></p>
                    <p>
                      <span> <i class="fa fa-road fa-2x"></i> </span>

                      <span
                        class="link-gold"
                        (click)="showCityDIstanceMapComponent()"
                      >
                        {{ 'cityDistance' | translate }}
                      </span>
                    </p>
                    <p
                      class="location-list"
                      (click)="showLocationsOnMapComponent()"
                    >
                      <span> <i class="fa fa-map-marker fa-2x"></i> </span>

                      <span>
                        {{ 'locationList' | translate }}
                      </span>
                    </p>
                    <div class="text-left p-3 fw-bold w-100">
                      <span class="text-muted"> Language </span>

                      <span
                        [@animate]="setting.animationFlag"
                        class="link-dark text-meduim"
                        (click)="changeLanguage(languages[languageIndex].title)"
                      >
                        {{ 'titles' | translate }}
                      </span>
                    </div>
                    <p (click)="logout()">
                      <span>
                        <i class="fa fa-2x fa-sign-out" aria-hidden="true"></i>
                      </span>
                      <span>
                        {{ 'logout' | translate }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
