<div class="bg-light w-100 p-2 animated-fadein fixed">
  <div class="row w-100 d-relative">
    <div class="col-md-4">
      <pe-dynamic-autocomplete
        [divId]="'ac1'"
        (results)="sourceComebackesults($event)"
      ></pe-dynamic-autocomplete>
    </div>
    <div class="col-md-4">
      <pe-dynamic-autocomplete-destinations
        [divId]="'ac2'"
        (results)="destinationComebackesults($event)"
      ></pe-dynamic-autocomplete-destinations>
    </div>
    <div class="col-md-4 p-2">
      <button
        mat-stroked-button
        [disabled]="!destinationCity || !sourceCity"
        (click)="routing()"
      >
        Calculate
      </button>
    </div>
  </div>
</div>
<div class="w-100 text-center bg-white">
  <pe-loading-progress
    [mode]="'mini'"
    *ngIf="loadCityDistance"
  ></pe-loading-progress>
  <div class="w-75 inner">
    <div class="p-2" *ngIf="this.distance.direct > 0">
      <div class="d-flex p-1">
        <span class="p-1">Direct Distance </span
        ><span class="fw-bold p-1">{{
          this.distance.direct | distanceOrder
        }}</span>
      </div>
      <div class="d-flex p-1">
        <span class="p-1">Routing Distance </span
        ><span class="fw-bold p-1">{{
          this.distance.routingDistance | distanceOrder
        }}</span>
      </div>

      <div class="d-flex p-1">
        <span class="fw-bold p-1" [innerHTML]="this.distance.car"></span>
      </div>

      <div class="d-flex p-1">
        <span class="fw-bold p-1" [innerHTML]="this.distance.walk"></span>
      </div>
      <div class="w-100 text-left p-1 mt-1">
        <button mat-stroked-button (click)="showMapComponent()">Route</button>
      </div>
    </div>
  </div>
</div>
<div style="visibility: hidden" id="mapd"></div>
