<div
  class="btn-bottom p-1 bg-light text-dark"
  *ngIf="!showContent"
  (click)="showContent = true"
>
  <span class="fw-bold" *ngIf="location">
    {{ 'knownPlaces' | translate }} {{ location[0]?.city }}
  </span>
</div>

<div class="transparent-bg-div w-100" *ngIf="showContent">
  <div
    class="text-center p-1 bg-light text-dark w-100 border"
    (click)="showContent = false"
  >
    <div class="d-flex flex-nowrap">
      <div
        style="flex-basis: 50%"
        class="text-left text-dark p-2 fw-bolder text-capitalize"
      >
        <span class="fw-bold w-100 text-center">
          {{ 'knownPlaces' | translate }} {{ location[0]?.city }}
        </span>
      </div>
      <div
        style="flex-basis: 50%"
        class="text-right text-meduim p-1 text-blueblack cursor-pointer"
      >
        <span class="p-3">
          <img
            src="../../../assets//img//arrow-down-icon-png-6687.png"
            class="img-icon"
          />
        </span>
      </div>
    </div>
  </div>
  <div>
    <div
      *ngFor="let types of locationType; let i = index"
      [attr.id]="'p' + types.type"
    >
      <ng-container *ngIf="orderByType(types?.type)?.length > 0">
        <div class="shadow-lg m-low">
          <div class="d-flex flex-nowrap">
            <div
              style="flex-basis: 50%"
              class="text-left text-dark p-2 fw-bolder text-capitalize"
            >
              {{ types?.type }}
            </div>
            <div
              style="flex-basis: 50%"
              class="text-right text-meduim p-2 text-blueblack cursor-pointer"
              (click)="showMoreLocationType(types?.type)"
            >
              More >>
            </div>
          </div>

          <esn-carousels
            (viewOnMap)="viewOnMaps($event)"
            [id]="types.type"
            [info]="info"
            [data]="orderByType(types?.type)"
          ></esn-carousels>
        </div>
      </ng-container>
    </div>
  </div>
</div>
