@media only screen and (min-width: 1200px) {
   .pc-hide{
       display: none;
   }
}
:root {
    --COLOR-WAITING:  #ffbc0d;
    --COLOR-RED: rgb(223, 43, 61);
    --COLOR-DARK: rgb(56, 58, 56);
    --COLOR-DARKER: #292929;
    --COLOR-LIGHT-DARK: rgb(212, 218, 212);
    --COLOR-MUTED: rgb(102, 104, 102);
    --COLOR-MAGENTA: rgb(13, 23, 46);
    --COLOR-BLUEBLACK: #0d3d50;
    --COLOR-GREEN: #17dab8;
    --COLOR-LIGHT: #ffffff;
    --COLOR-CREAM: #eceaea;
    --COLOR-BLUE: #6295f3;
    --COLOR-GOLD: #f0bb58;
    --COLOR-DARK-ORANGE: #fc9611;
    --COLOR-ORANGE: #fdb42a;
    --BG-LOGIN:'https://topedu.vercel.app/assets/images/login1.png';
    --BG-SUCCESS:'https://cdn.dribbble.com/users/571236/screenshots/2888472/happystate.gif';
    @mixin bg-image($bg-url,$size,$height){
       background: url(var($bg-url));
       size:$size;
       height: $height;
    }
 }

 @font-face {
   font-family: fairytail;
   src: url('./assets/fonts/fairy-tail.regular.ttf')
 }
 @font-face {
   font-family: bmd;
   src: url('./assets/fonts/marson.ttf')
 }

 @font-face {
   font-family: antique;
   src: url('./assets/fonts/antique.ttf')
 }
 @font-face {
   font-family: mathilda;
   src: url('./assets/fonts/mathilda.otf')
 }
 @font-face {
   font-family: darkmagic;
   src: url('./assets/fonts/darkmagic.otf')
 } 
 @mixin text-bg($bg,$col){
   color: var($col)  !important;
   background-color: var($bg) !important;
}
.bg-cream{
   @include text-bg(--COLOR-CREAM,--COLOR-DARK)
}
.color-light-dark{
   @include text-bg(--COLOR-LIGHT-DARK,--COLOR-CREAM)
}
.color-dark{
   @include text-bg(--COLOR-LIGHT,--COLOR-DARK)
}
.bg-orange{
   @include text-bg(--COLOR-ORANGE,--COLOR-CREAM)
}
.bg-dark-orange{
   @include text-bg(--COLOR-DARK-ORANGE,--COLOR-CREAM)
}
.bg-green{
   @include text-bg(--COLOR-GREEN,--COLOR-CREAM)
}
.text-green{
   @include text-bg(--COLOR-LIGHT,--COLOR-GREEN)
}
body{
   background-color: var(--COLOR-CREAM) !important;
}
.text-right{
   text-align: right !important;
}
.text-large{
   font-size: 2.5vh !important;
}
.text-small{
   font-size: 0.9vh !important;
}
.text-meduim{
   font-size: 1.5vh  !important;
}
.inner{
   display: inline-block;
}
.cursor-pointer {
   cursor: pointer;
}

 .text-sign{
   font-family: bmd;
   font-weight: 600;
 }

.animated-cross{
   position: absolute;
   animation: animate-cross 0.7s forwards;
}

.animated-cross-inverse{
   position: absolute;
   animation: animate-cross-inverse 0.3s forwards;
}
.animated-fadein{
   animation: animate-fadein 1s forwards;
}
.animated-scoll-up {
   animation: animation-scoll-up 2s forwards;

}
.animated-display {
   animation: animate-display  0.6s forwards;
}
.animated-height-zero-to-complete {
   animation: animate-height-zero-to-complete  2s forwards;
}

.animated-rotate{
   animation: animated-rotate 0.5s forwards;
}
 
@keyframes animate-cross {
   0%{
       top:-2000px
   }

   100%{
      top:0px;
   }
}
@keyframes animate-cross-inverse {
   0%{
       top:12000px
   }

   100%{
      top:0px;
   }
}

@keyframes animation-scoll-up {
   0%{
       bottom: 0;
   }
   100%{
      bottom: 90%;
   }
}

@keyframes animate-fadein {
   0%{
       opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

@keyframes animate-display {
   0%{
      opacity: 1;
  }
  100%{
     opacity: 0;
     height: 0px !important;
     visibility: hidden;
  }
}

@keyframes animate-height-zero-to-complete {
   0%{
      height: 5px;   
   }
   100%{
      height: 0;
   }
}
@keyframes animated-rotate {
   0%{
       transform: rotate(0deg);
   }

   100%{
       transform: rotate(720deg);
   }
}

@keyframes animated-scale {
   0%{
       transform: scale(0.2)
   }

   50%{
      transform: scale(2)
  }
   100%{
       transform: scale(1)
   }
}
@keyframes clicked {
   0%{
       transform: rotateY(0deg);
   }   
   100%{
       transform: rotateY(180deg);
   } 
}
.animatedscale{
   animation: animated-scale 0.5s forwards;
}
.text-left{
   text-align: left;
}
.relative{
   position: relative !important;
}

 .close-div{
   position: absolute;
   right: 1%;
   top:0;
   cursor: pointer;
   z-index: 500 !important;
 }
 .close-div:hover{
   color:var(--COLOR-RED) !important
 }
.transparent-bg{
   width: 100%;
   height: 100%;
   z-index:100000;
   background-color: rgba(14, 7, 78, 0.4);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   position: fixed;
}
.d-fixed{ 
   position: fixed;
   left: 0;
   top:5%;
   z-index: 500 !important;
}

.vertical-middle-align-span{
   display: inline-block;
   vertical-align: middle;
}

.big-link { 
   color: var(--COLOR-DARK);
   font-size: calc(0.2vw + 0.2vh + 1vmin) !important;
   font-weight: bold;
   transition: 0.2s !important;
}
.big-link:hover{
   color: var(--COLOR-GREEN); 
}
.joyride-button{
   background-color: var(--COLOR-MAGENTA) !important; 
   color: --var(--COLOR-LIGHT) !important;
  
  }
.joyride-button:HOVER{
 color: var(--COLOR-MAGENTA) !important; 
 background-color: var(--COLOR-LIGHT) !important;

}
.link { 
 color: var(--COLOR-MAGENTA); 
 transition: 1s !important;
}
.link:hover{
   color: var(--COLOR-GREEN); 
}
.link-gold{
   color: var(--COLOR-DARK); 
   transition: 1s !important;
}
.link-gold:hover{
   color: var(--COLOR-GOLD); 
   background-color:var(--COLOR-LIGHT) !important; 
}
.link-darks{
   cursor: pointer;
   text-decoration: none;
   color: var(--COLOR-DARK);
}
.link-darks:hover{
   color: var(--COLOR-GREEN) !important; 
}

.link-light:hover{
   color: var(--COLOR-GREEN) !important; 
}

.span-animated-on-hover{
   transition-property: color;
   transition-duration: 500ms;
 }
 .span-animated-on-hover:hover{
   color:red;
   border-bottom :solid 1px #e0dede;
 
 }

.ngx-pagination .current{
   background-color:var(--COLOR-ORANGE) !important;
   border-radius: 50% !important;
}
.ngx-pagination a, .ngx-pagination button {
   border: none !important;
   outline: none !important;
   text-decoration: none !important;
}
.mat-raised-button{
   background-color: var(--COLOR-GREEN) !important;
   color:black !important;
}
.mat-raised-button[disabled]{
   background-color: white !important;
}
 
.img-icon:hover{
   opacity: 1;
}

.text-brand{
   font-family: bmd !important;
}
.text-red{
   color:var( --COLOR-RED) ;
}
.title-bar{
   font-weight: 700 !important;
   padding: 0.4em;
   margin: 0.5em;
   letter-spacing: -.15px; 
   font-size: 1.5vh  !important;
   line-height: 2pc;
   font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif !important;
   border-bottom: solid 1px var(--COLOR-BLUEBLACK) !important;
   color: var(--COLOR-BLUEBLACK) !important;
}

.text-purple{
   color:var(--COLOR-MAGENTA) !important ;
}
.border-none{
   border: none !important;
}
.fw-bold{
   font-weight: 400 !important;
}
.bg-light{
   background-color: var( --COLOR-CREAM) !important ;
}
.btn-success{
   background-color: var(--COLOR-GREEN) !important;
}

.center-div-vertical-horizontal{
   text-align: center !important;
}
button:disabled{
   background-color: var(--COLOR-CREAM) !important;
   color: var(--COLOR-DARK) !important;
}
.v-align-middle{
   vertical-align: middle !important;
}
.justify-right{
   justify-content: right !important;
}
.flex-cell{
   display: flex;
   align-items: center; 
}
.font-fairytail{
   font-family: fairytail !important;
}
.font-antique{
   font-family: antique !important;;
}
.font-mathilda{
   font-family: mathilda !important;;
} 

.font-darkmagic{
   font-family: darkmagic !important;;
   font-size: calc(0.5vw + 0.5vh + 1.5vmin) !important;
}
.bg-blueblack{
   background-color: var(--COLOR-BLUEBLACK);
}
p,span,textarea,input,button,mat-label{
   font-size: 1.6vh  !important;
   font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif !important;
}
h1 {
   font-size: calc(1.375rem + 1.5vw);
}
h2 {
   font-size: calc(1.375rem + 1vw);
}
.hover-attention:hover{
   color:var(--COLOR-RED) !important
}
.rounded-rectangle{
   border-radius: 0.3em
}
.bg-loading{
   background-image:  url('./assets/img/loading.png');
   background-size: 20% 20%;
   background-repeat: no-repeat;
   background-position: center;
}
.selected-popup .leaflet-popup-content-wrapper {
   background-color: var(--COLOR-RED);
   font-size: 12px;
   border :solid 4px var(--COLOR-RED) !important;
   color: var(--COLOR-LIGHT) !important;
   border-radius: 50% !important;
   line-height: 24px;
 }
 .selected-popup .leaflet-popup-tip {
   background-color: var(--COLOR-RED);
 }
 .leaflet-popup  .leaflet-popup-content-wrapper {
   border :solid 4px var(--COLOR-BLUEBLACK);
   border-radius: 5% !important;
   font-size: 12px;
   color: var(--COLOR-BLUEBLACK);
   line-height: 24px;
   border-radius: 0px;
 }
 .leaflet-popup {
   border: none;
   box-shadow: none;
 }
.w-90{
   width: 90% !important;
}
.text-blueblack{
   color: var(--COLOR-BLUEBLACK) !important;
}
.bg-blue{
   background-color: var(--COLOR-BLUE) !important;
}
.bg-magenta{
   background-color: var(--COLOR-MAGENTA) !important;
}

textarea{
   width: 100%;
   height: 15em;
}
.ml-2{
   margin-left: 2% !important;
}
.pl-2{
   padding-left: 2% !important;
}

.text-gold{
   color: var(--COLOR-GOLD);

}
.icon-close{
   position: absolute;
   right: 3% !important;
   top:2%;
   cursor: pointer;
   z-index: 9999999 !important;
 }
.close-button-top-right{
   color: var(--COLOR-MAGENTA); 
   cursor: pointer;
   position: absolute;
   right:1%;
   top:1%;
   width: 5vh !important;
   height: 5vh !important;
   z-index: 1000;
   animation: animated-scale 0.2s forwards;
}

.close-button-top-right:hover{
   color: var(--COLOR-GREEN); 
}
.on-layer{
   position: absolute;
   z-index: 440;
   
}
.top-layer{
   left: 0;
   bottom: 0;
   color: var(--COLOR-LIGHT);
   background-color: rgba(22, 22, 22, 0.4);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px); 
}
.link{
   text-decoration: none;
}
.btn-master-orange{
   background-color: var(--COLOR-WAITING) ;
   color: var(--COLOR-DARKER) !important;
   padding: 0.2em 1.4em 0.2em 1.4em !important;
   text-transform: capitalize;
}
.btn-master-orange:hover{
   background-color: var(--COLOR-RED)  !important;
   color: var(--COLOR-GOLD)  !important;
}
.banner-bottom{
   position: absolute;
   bottom: 0px;
   left: 0px;
   z-index: 9999999;
   background-color: rgba(22, 22, 22, 0.4);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px); 
   width: 98% !important;
   color: var(--COLOR-LIGHT);
}
.pr-3{
   padding-right: 1% !important;
}

.img-icon{
   width: 2vh !important;     
   height: 2vh !important;     
   opacity: 0.5;
   cursor: pointer;}